body {
background-color: cadetblue;
}

#score {
    font-size: 20px;
    float: left;
}

#timer {
    font-size: 20px;
    float: right;
}

#sketch_to_be_drawn {
    color: brown;
    font: icon;
}